body {

    background-color: rgb(132, 93, 168);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}

main {

    text-align: center center;
    width: 500px;
    margin: auto;
    background-color: rgb(132, 93, 168);
    padding: 35px;
    border: 5px solid rgb(0, 0, 0);

}

button {
    background-color: black;
    color: darkorchid;
    border: 2px solid black;

}