body {
    text-align: center;
    background-color: rgb(132, 93, 168);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    text-align: center;
    margin-top: 15px;
}

a {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(69, 47, 73);
    text-decoration: none;
}