body {

    background-color: rgb(182, 149, 206);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;

}

main {

    text-align: right;
    width: auto;
    margin: auto;
    background-color: rgb(163, 130, 180);
    padding: 20px;
    border: 1px solid lightgrey;

}